*{
    padding: 0;
    margin: 0;
}

body{
    font-family:'Poppins', sans-serif;
}

.form{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-bottom: 120px;
    
}

.form-container{
    padding: 20px;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
    width: 60vw;
    margin-top:30px;
    margin-bottom: 30px;
    background-color: #1d232c;
    color: white;
    
}

.form-container input{
    width: 80%;
    border-radius: 10px;
    align-self: flex-start;
    padding: 15px;
    outline: none;
    font-size: larger;
    font-family: 'Poppins', sans-serif;
    
}
.form-container h1{
    text-align: center;
}

.form-container #login-submit{
    font-size: 1em;
    width: 200px;
    align-self: center;
    
}

.form-container p{
    font-size: 1.5em;
    padding:20px 0px 10px 0px;
}

#login-submit{
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}

.container{
    height: 80vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.response-box{
    text-align: center;
    height: 60vh;
    width: 50vw;
    background-color: #1d232c;
    border-radius: 10px;
    color: white;
}

.response-box h1{
    padding: 20px;
}

.response-box p{
    padding: 20px ;
    font-size: 1em;
}

.response-box button:hover{
    cursor: pointer;
}
.response-box button{
    padding: 10px;
    background-color: white;
    color: #1d232c;
    border-radius: 15px;
    font-family: 'Poppins', sans-serif;
    margin-top: 10px;

}
